
.Title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}

.TitleMinor {
	font-size: 14px;
	margin-bottom: 24px;
}

.Section {
	margin-bottom: 12px;
}

.MinorSection {
	font-weight: bold;
}

.SectionHeader {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 8px;
}

.Header .gwt-Label {
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 8px;
	float: left;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.AdvancedSearchLink {
	font-size: 10px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	text-align: right;
	margin-bottom: 4px;
	margin-right: 128px;
}

.HeaderSearchBar .gwt-Button {
	float: right;
}

.HeaderSearchBar .gwt-TextBox {
	float: right;
}
