


.Header .gwt-Label {
	margin-right: 6px;
	margin-left: 6px;
	margin-top: 8px;
	float: left;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

.AdvancedSearchLink {
	font-size: 10px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	text-align: right;
	margin-bottom: 4px;
	margin-right: 128px;
}

.HeaderSearchBar .gwt-Button {
	float: right;
}

.HeaderSearchBar .gwt-TextBox {
	float: right;
}
