
.Title {
	font-size: 16px;
	font-weight: bold;
}

.VolumeTitle {
	font-size: 16px;
}

.TitleMinor {
	font-size: 14px;
	margin-bottom: 24px;
}

.Section {
	margin-bottom: 12px;
}

.MinorSection {
	font-weight: bold;
}

.SectionHeader {
	font-weight: bold;
	text-decoration: underline;
	margin-top: 16px;
	margin-bottom: 8px;
}

.Expander {
	color: blue;
	/* padding-left: 48px; */
}

.Indent {
	padding-left: 48px;
}

.gwt-DisclosurePanel {
	padding-left: 52px;
}

.OwnerTable {
	padding: 12px;
}

.VolumeTable {
	border: 1px solid black;
	width: 98%;
}

.Clickable {
	padding-top: 12px;
	cursor: pointer;
}

.NoBullet {
	list-style-type: none;
}

.ArticleTitle {
	font-style: italic;
}

.TableSubtitle {
	font-size: 14px;
	font-weight: bold;
}

.Floater {
	float: left;
}

.Incipit {
	width: 45%;
	float: left;
}

.FullWidth {
	width: 100%;
}

.Header .gwt-Label {
	margin-left: 12px;
	margin-top: 8px;
	float: left;
	cursor: pointer;
	color: blue;
	font-size: 16px;
	text-decoration: underline;
}

.AdvancedSearchLink {
	font-size: 11px;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	text-align: right;
	margin-bottom: 4px;
	margin-right: 136px;
}

.HeaderSearchBar .gwt-Button {
	margin-right: 12px;
	float: right;
}

.HeaderSearchBar .gwt-TextBox {
	float: right;
}

.BrowserSubsection {
	padding: 24px;
}

.ProfileTabs {
	
}

.ProfileTabs .gwt-TabLayoutPanelTabs {
	
}

.ProfileTabs .gwt-TabLayoutPanelTab {
	background-color: rgb(237, 214, 153);
	margin: 3px 2px;
	cursor: pointer;
	border: 2px solid;
	border-radius: 3px;
	font-weight: bold;
}

.ProfileTabs .gwt-TabLayoutPanelTabInner {
	padding: 0px 6px;
}

.ProfileTabs .gwt-TabLayoutPanelTab-selected {
	background-color: rgb(227, 180, 69);
	cursor: default;
}

.ProfileTabs .gwt-TabLayoutPanelContent {
	padding-top: 5px;
	padding-left: 5px;
}

.ProfileTabs .gwt-TabLayoutPanelContentContainer {
	border: 0px;
}

.Content {
	margin-left: 12px;
}








